<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span> 
    </button>
    <a class="navbar-brand" routerLink="/home">Kid Shala</a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-top-links navbar-left">

        <li [routerLinkActive]="['active']">
            <a routerLink="/adminhome"><i class="fa fa-dashboard fa-fw"></i> Admin Home</a>
        </li>

        <li [routerLinkActive]="['active']">
            <a routerLink="/admin"><i class="fa fa-dashboard fa-fw"></i> Admin DashBoard</a>
        </li>
        <li [routerLinkActive]="['active']">
            <a routerLink="/addcategory"><i class="glyphicon glyphicon-education"></i> Add category</a>
        </li>
    </ul>
  </div>
</div>