<div  *ngIf="item.approve_status==1" class="col-lg-4">
    <div class="panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4"><h4>Name :<br><b>{{item.name}}</b></h4></div>
                <div class="col-sm-4"></div>
                <div class=".col-sm-4" align="center"><a href="{{itemUrl}}" target="_blank"><button type="button" class="btn btn-success btn-circle btn-lg"><i class="fa fa-download"></i></button></a>
                </div>    
            </div>
            
        </div>
        <div class="panel-body">
            <p>Description :<br><b>{{item.description}}</b></p>
        </div>
        <div class="panel-footer">
            Uploaded On :<br><b>{{item.upload_date | date:'medium'}}</b>
        </div>
    </div>
</div>
<div *ngIf="item.approve_status==0" class="col-lg-4">
    <div class="panel panel-yellow">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4"><h4>Name :<br><b>{{item.name}}</b></h4></div>
                <div class="col-sm-4"></div>
                <div class=".col-sm-4" align="center"><a href="{{itemUrl}}" target="_blank"><button type="button" class="btn btn-warning btn-circle btn-lg"><i class="fa fa-download"></i></button></a>
                </div>    
            </div>
            
        </div>
        <div class="panel-body">
            <p>Description :<br><b>{{item.description}}</b></p>
        </div>
        <div class="panel-footer">
            Uploaded On :<br><b>{{item.upload_date | date:'medium'}}</b>
        </div>
    </div>
</div>
<div *ngIf="item.approve_status==2" class="col-lg-4">
    <div class="panel panel-red">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4"><h4>Name :<br><b>{{item.name}}</b></h4></div>
            </div>   
        </div>
        <div class="panel-body">
            <p>Description :<br><b>{{item.description}}</b></p>
        </div>
        <div class="panel-footer">
            Uploaded On :<br><b>{{item.upload_date | date:'medium'}}</b>
        </div>
    </div>
</div>
